name: Generate Snake Game

on:
  schedule:
    - cron: "0 */12 * * *"  # Toutes les 12 heures
  workflow_dispatch:  # Permet de lancer manuellement
  push:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Ajoutez cette ligne!
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Generate Snake Animation
        uses: platane/snk@v3
        id: snake-gif
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/snake.svg
            dist/snake-dark.svg?theme=dark
          
      - name: Deploy to Output Branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: output  # Utilisez "output" au lieu de "gh-pages"
          force_orphan: true  # Garde seulement le dernier commit
